body {
  margin: 0 auto;
  padding: 0;
  font-family: sans-serif;
  /* width: 95%; */
}
.body{
    width: 95%;
    margin: 0 auto;
}
svg{
    height: 150px;
}

td:first-of-type, td:first-of-type > div {
    height: 200px;
    width: 250px;
}
